.texareaPreview {
    padding: 25px;

    &__area {
        max-width: 600px;
        width: 100%;
        resize: none;
        padding: 10px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .texareaPreview {
        &__area {
            max-width: 400px;
            height: 100px;
        }
    }
}