.sidebar {
    width: 30%;
    height: 100vh;
    border-right: 1px solid #ddd;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 25px;

        &__titles {
            margin: 0;
        }
    }
}