.notes {
    &__note {
        padding: 25px;
        cursor: pointer;

        &__title {
            display: flex;
            justify-content: flex-end;
        }

        &__title button {
            color: crimson;
            padding-right: 10px;
        }

        &__desc {
            margin: 10px 0;
            font-weight: bold;
        }

        &__text {
            display: block;
            color: #999;
        }
    }

    &__note:hover {
        background: #ddd;
    }
}

.link {
    text-decoration: none;
}

.active {
    background-color: #000;
}

//   .app-sidebar-note.active,
//   .app-sidebar-note.active small {
//     background: #08c;
//     color: white;
//   }